version: "2.0"

services:
    db:
        ports:
            - "127.0.0.1:27017:27017"
        environment:
            MONGO_PASSWD: app
        volumes:
            - ./volumes/mongo:/data/db

    nodejs:
        ports:
            - "127.0.0.1:4200:4200"

    nginx:
        ports:
            - "127.0.0.1:80:80"
